[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://$PACKAGECLOUD_TOKEN:@packagecloud.io/syapse/General/pypi/simple"
verify_ssl = true
name = "packagecloud"

[dev-packages]

[packages]
click = "*"
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-renderer = "*"
decorator = "*"
nbformat = "*"
numpy = "*"
pandas = "*"
pandas-datareader = "*"
plotly = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
urllib3 = "*"
Cython = "*"
Werkzeug = "*"
chardet = "*"
matplotlib = "*"
dash-daq = "*"
dash-bootstrap-components = "*"
psycopg2-binary = "*"
dash-ant = "==0.0.3"
dash-interactive-graphviz = "*"

[requires]
python_version = "3.8"
